<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_layout.html">
<head>
    <script src="/js/users-page.js"></script>
    <script type="text/javascript" defer>
        document.addEventListener('DOMContentLoaded', function(){
            renderUserPage(document.getElementById("root"), {baseUrl: window.origin });
        });
    </script>
</head>

<body>
<div layout:fragment="content">
    <div id="root" style="text-align: center;"></div>
</div>
</body>
</html>
