<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_layout.html">

<body>
<div layout:fragment="content">
    <h2>New monkey-worker hiring</h2>
    <form action="#" th:action="@{/user-create}" th:object="${monkeyUser}" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="form-label" for="login">Login</label>
                <input class="form-control" id="login" type="text" th:field="*{login}" placeholder="login">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" id="password" type="text" th:field="*{password}" placeholder="password">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="form-label" for="firstName">First name</label>
                <input class="form-control" id="firstName" type="text" th:field="*{firstName}" placeholder="First name">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="form-label" for="lastName">Last name</label>
                <input class="form-control" id="lastName" type="text" th:field="*{lastName}" placeholder="Last name">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="form-label" for="department">Department</label>
                <select class="form-control" th:field="*{department}" id="department">
                    <option th:each="dep : ${departments}" th:value="${dep.getId()}"
                            th:text="${dep.getDepartmentId()}"></option>
                </select>
            </div>
        </div>

        <input class="btn btn-dark" type="submit" value="Hire!" style="margin-top: 15px">

    </form>
</div>
</body>
